@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-dark-1: #2a2a2a;
  --color-dark-2: #202020;
  --color-light: #f6f4f1;
  --color-accent: #ba3a2c;
  --color-light-accent: #fa4430;
  --color-gray: #404040;
}

html,
body {
  margin: 0; padding: 0;
  font-family: "Poppins", sans-serif;
}

#app {
  @apply text-light;
}

/** Base Elements */
h1 {
  @apply text-base font-bold;
}

h2 {
  @apply text-sm font-bold;
}

h3 {
  @apply text-sm font-semibold;
}

p {
  @apply text-sm;
}

span {
  @apply text-sm;
}

a {
  @apply text-sm underline text-light-accent hover:text-accent;
}

ul {
  @apply list-disc block list-outside;
}

li {
  @apply ml-10 mb-1 text-sm;
}

label {
  @apply text-sm;
}

input[type='range'] {
  @apply appearance-none cursor-pointer w-3/4 h-1 bg-white rounded-full;
}

input[type='range']::-webkit-slider-thumb {
  @apply appearance-none bg-accent h-4 w-4 rounded-full outline-none border-none;
}

input[type='range']::-moz-range-thumb {
  @apply appearance-none bg-accent h-4 w-4 rounded-full outline-none border-none;
}

input[type='range']::-moz-range-progress {
  @apply bg-accent h-1 rounded-full outline-none border-none;
}

/** Color picker */
hex-color-picker {
  height: 160px;
  width: 192px;
}

hex-color-picker::part(saturation-pointer) {
  width: 16px;
  height: 16px;
}

hex-color-picker::part(hue-pointer) {
  width: 16px;
  height: 16px;
}